html, body {
	display: flex;
	vertical-align: center;
	justify-content: center;
}

div#map {
	background: black;
	position: relative;
	width: 600px;
	height: 450px;
}

div.world {
	background-size: 100px;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
}

div#backButton {
	background-image: url('./img/gui/back.png');
	background-size: 40px;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 5px;
}

div.summonScreen {
	color: red;
}

div.summonScreen > div.column {
	width: calc(100%/3);
	display: inline-block;
	vertical-align: top;
	margin-top: 35px;
	text-align: center;
}

div.summonScreen > div.column > button {
	display: block;
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
}

div.summonScreen > div.column > button > p.discount {
	position: absolute;
	top: -40px;
	right: -20px;
	transform: rotate(30deg);
	color: red;
	font-size: 30px;
}

div.summonScreen > div.column > p.points {
	width: 60%;
	margin-left: 15%;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5%;
}